nav {
  display: none;
}

.mat-toolbar {
  margin-bottom: 24px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

button.active {
  color: yellow
}

@media (min-width: 768px) {
  nav {
    display: block;
  }

  .mobile-menu {
    display: none;
  }
}
