.character {
  margin-bottom: 24px;
}

.mat-card {
  height: 100%;
}

.mat-card-avatar {
  cursor: pointer
}

.mat-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-content {
  margin-top: 16px;
}
