.characters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  margin-bottom: 48px;
}

.mat-card-avatar {
  cursor: pointer
}

.mat-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-content {
  margin-top: 16px;
}
