/* You can add global styles to this file, and also import other style files */

@import './assets/css/bootstrap-grid.min.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgba(27, 31, 35, 0.05);
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  table {
    width: 100%;

    td,
    th {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.mat-card {
  margin-bottom: 24px;
}
